@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("BebasNeueRegular.woff2") format("woff2"),
    url("BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/*header*/
.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  text-decoration: none;
  color: white;
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  margin-bottom: 4px;
  color: #fff;
}
.navbar-phone {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
/*main par/home*/
main {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 54px;
  display: flex;
}
.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: space-between;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.counter-arrow-down {
  transform: rotateX(180deg);
}
.main-title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}
.counter {
  color: #635854;
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
}
.button-pimary {
  background: #3596f5;
  border-radius: 6px;
  border:none;
  padding: 16px 36px;
  color:#fff;
  cursor: pointer;
  
}
