@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"), local("BebasNeue-Regular"),
    url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}

/* NAVIGATION-MENU */
nav.menu {
  display: none;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
}
.menu li {
  list-style: none;
  position: relative;
}
.menu-list > li:hover .sub-menu-list {
  display: block;
}
.sub-menu-list {
  padding: 0;
  display: none;
}
.menu-link {
  color: #635854;
  display: block;
  width: 30px;
  height: 20px;
}
.topdiv {
  width: 30px;
  height: 10px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.botdiv {
  width: 30px;
  height: 9px;
  border-bottom: 2px solid #fff;
}

.sub-menu-list {
  position: absolute;
  color: #fff;
  left: -145px;
  top: 9px;
  padding: 0 20px 0 0;
}
.sub-menu-list li {
  background-color: #635854;
  padding: 10px;
}
.sub-menu-link {
  color: cornsilk;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}
.header-button {
  display: none;
  background: #fff;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 10px;
  width: 40px;
}

/*HEADER*/

.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  text-decoration: none;
  color: white;
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  margin-bottom: 4px;
  color: #fff;
}
.navbar-phone {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
/* MAIN(HOME+COUNTER) */
main {
  padding-top: 54px;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-image {
  width: 734px;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.counter-arrow-down {
  transform: rotateX(180deg);
}
.main-title {
  margin-top: 75px;
  margin-bottom: 0px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}
.counter {
  color: #635854;
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
}
.button-pimary {
  margin: 75px;
  background: #3596f5;
  border-radius: 6px;
  border: none;
  padding: 16px 36px;
  color: #fff;
  cursor: pointer;
}
path.current-floor {
  opacity: 1;
}
/* MODAL-WINDOW */
.modal {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: opacity 0.8s;
}
.is-open {
  opacity: 1;
  transform: scale(1);
}

.flat-item {
  margin-bottom: 10px;
}
.flat-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #635854;
}
.flat-link:hover {
  color: #3596f5;
  text-decoration: underline;
}
.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 560px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
}
.modal-close-button {
  position: absolute;
  background-color: #fff;
  border: none;
  top: 38px;
  right: 27px;
  cursor: pointer;
}
.modal-info {
  padding: 50px 46px;
  width: 40%;
}
.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 60px;
}
.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}
.modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 25px;
}
.modal-image {
  background: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}

/*FOOTER*/
.footer-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.footer {
  border-top: 4px solid #3596f5;
  margin-top: 100px;
  padding: 30px 0 60px 0px;
}

.footer-phone {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  color: #635854;
}

.footer-contact-text {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
}
.footer-links {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.contact-info {
  display: flex;
  align-items: center;
}
.footer-contacts {
  margin: 0;
  padding: 0px 65px 0 40px;
}
.footer-link-item {
  margin: 0 0 0 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #635854;
}

/* MEDIA-REQUESTS*/
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

li.top {
  border-top: 2px solid #3596f5;
  border-left: 2px solid #3596f5;
  border-right: 2px solid #3596f5;
}
li.mid {
  border-left: 2px solid #3596f5;
  border-right: 2px solid #3596f5;
}
li.bot {
  border-bottom: 2px solid #3596f5;
  border-left: 2px solid #3596f5;
  border-right: 2px solid #3596f5;
}

@media (max-width: 992px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
  .main-image {
    margin: 0 auto;
    width: 80vw;
  }
  .main-info {
    margin: 0 auto;
    width: 80vw;
  }
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .modal-dialog {
    display: flex;
    flex-direction: column;
  }
  .flat-item {
    margin: 0 auto;
    text-align: center;
  }

  .modal-title {
    margin: 5px auto;
    text-align: center;
  }
  .modal-image {
    width: 100%;
  }
  .modal-alert {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }
  .modal-info {
    padding: 10px;
    margin: 0 auto;
    width: 80%;
  }
  .flat-list {
    margin: 5px auto;
    padding: 10px;
  }
  .modal-close-button {
    background-color: #ebebeb;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
  }
  .contact-info-item {
    margin-bottom: 20px;
  }
  .footer-contacts {
    padding: 0;
  }
  a.footer-link-item {
    margin-bottom: 20px;
  }
  .modal-dialog {
    width: 80%;
    margin: auto;
  }
  .modal-image-photo {
    width: 90%;
  }
  .navbar-item {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .navbar-contacts {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .to-hide {
    display: none;
  }
  nav.menu {
    display: block;
  }
  .footer-link-item {
    font-size: 12px;
  }

  .contact-info {
    font-size: 12px;
  }
}
